.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffff;
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* logo provicional */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1ae840;
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.2s;
}

.navLinks a:hover {
    color: #1a73e8;
}

.authButton {
    background-color: #1a73e8;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}