.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffff;
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* logo provicional */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1ae840;
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.2s;
}

.navLinks a:hover {
    color: #1a73e8;
}

.authButton {
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
}

.authButton:hover {
    background-color: var(--color-primary-hover);
}

.userMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatarContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid var(--color-primary);
    transition: transform 0.2s;
}

.avatarContainer:hover {
    transform: scale(1.05);
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.defaultAvatar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutBtn {
    background: transparent;
    color: var(--color-error);
    border: 1px solid var(--color-error);
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

.logoutBtn:hover {
    background: var(--color-error);
    color: white;
}